# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Cache
.cache
.parcel-cache

# Testing
coverage

# Misc
.DS_Store
*.pem

# Logs
*.log

# Environment
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

